<%- include('./partials/header')%>

    <div class="container">


        <header class="jumbotron">
            <div class="container">


                <h1>Wellcome to House Sell in Ethiopia!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, unde nulla, sequi temporibus tempora impedit architecto magni alias neque animi, tempore veniam autem dignissimos voluptas omnis quod blanditiis? Inventore, distinctio!</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/houses/new">Add New House</a>
                </p>
            </div>
        </header>

        <div class="row">


            <% homes.forEach((home)=>{%>
                <div class="col-md-4">

                    <img class="img-thumbnail im" src="<%= home.image%>">
                    <em class="date"><%= home.createdAt.toDateString()%></em>
                    <p class="mb-1">
                        <a href="/houses/<%= home._id%>">
                            <%= home.title%>

                        </a>


                    </p>
                    <p class="mb-1">
                        <%= home.location%> -
                            <%= home.city%>
                    </p>
                    <p class="font-weight-bold">Birr
                        <%= home.price%>
                    </p>
                </div>
                <%})%>
        </div>
        <div class="row  ">
            <div class="col-12 text-center">
                <% if ( pages > 1) { %>
                    <ul class="pagination ">


                        <% for (var i =1; i <=pages;  i++ ) { %>

                            <% if(i===parseInt(currentPage)) {%>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        <%=  parseInt(currentPage) %>
                                    </a>
                                </li>
                                <% } else{%>
                                    <li class="page-item">
                                        <a class="page-link" href="/houses/allhouse/<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>

                                    <% } %>
                                        <% } %>
                    </ul>
                    <% } %>
            </div>
        </div>
    </div>


    <%- include('./partials/footer')%>