<%- include('./partials/header')%>


    <div class="container">
        <h4>House Detail</h4>
        <div class="row">

            <div class="col-md-9">
                <img class="detail" src="<%= home.image%>">
                <li class="list-group-item">

                    <strong>Submitted By :</strong>
                    <%= home.author.username%>
                </li>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">

                        <strong>About the House :</strong>
                        <%= home.title%>
                    </li>
                    <li class="list-group-item">

                        <strong>City :</strong>
                        <%= home.city%>
                    </li>
                    <li class="list-group-item">

                        <strong>Location :</strong>
                        <%= home.location%>
                    </li>
                    <li class="list-group-item">

                        <strong>Price : Birr</strong>
                        <%= home.price%>
                    </li>
                </ul>
            </div>

        </div>

    </div>


    <%- include('./partials/footer')%>