<%- include('./partials/header')%>


    <div class="container">
        <h4>User Information Detail</h4>
        <div class="row">

            <div class="col-md-9">

                <div class="card pr-3" style="width: 18rem;">
                    <i class="fa fa-user-circle-o fa-5x p-3" aria-hidden="true"></i>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">First Name </th>
                                <td>
                                    <%= currentUser.firstname%>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name </th>
                                <td>
                                    <%= currentUser.lastname%>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Birth Date </th>
                                <td>
                                    <%= currentUser.birthDate.toDateString() %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Email </th>
                                <td>Your Mail</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone </th>
                                <td>Your Phone</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-body">
                        <a href="#" class="card-link">Edit Info</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <%- include('./partials/footer')%>